# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/wxsp-common/target/
/wxsp-config-server/target/
/wxsp-core-service/target/
/wxsp-db/db-redis/target/
/wxsp-db/db-mysql/target/
/wxsp-db/db-mongodb/target/
/wxsp-db/db-cache/target/
/wxsp-eureka-server/target/
/wxsp-gateway-server/target/
